# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\downloads\Lab4_EAD2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
